<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1 c-w">Deutsche UI</span>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-regions
      class="col"
      label="Regions"
      [optionsList]="regions$ | async"
      [defaultSelection]="selectedRegion$ | async"
      (optionChange)="handleOptionChange($event)"
    >
    </app-regions>
    <app-regions
      class="col"
      label="Countries"
      [optionsList]="countries$ | async"

      (optionChange)="handleOptionChange($event)"
    >
    </app-regions>
  </div>
  <div
    class="row"
    *ngIf="selectedCountry$ | async as country">
    <app-country-details
      class="col"
      [country]="country">
    </app-country-details>
  </div>
</div>
